@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .navbar {
    background-color: var(--periwinkle-20);
  }

  .navbar-item {
    color: var(--babypowder);
  }

  .navbar-item > span {
    color: var(--babypowder);
  }

  .title {
    color: var(--babypowder);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    background-color: var(--babypowder);
  }

  .navbar {
    background-color: var(--periwinkle);
  }

  .navbar-item {
    color: var(--grey-30);
  }

  .navbar-item {
    color: var(--grey-30);
  }

  .title {
    color: var(--grey-30);
  }
}
